@using Microsoft.Extensions.Logging
@inject ILogger<Button> Logger
<button style="--btn-width:@CssAttributes.Width;
               --btn-height:@CssAttributes.Height;
               --btn-fontSize:@CssAttributes.FontSize;
               --btn-foreground:@CssAttributes.ForegroundColor;
               --btn-background:@CssAttributes.BackgroundColor;"
        @onclick="MouseClick">
    @Content
</button>

@code {
    [Parameter]
    public ButtonStyle CssAttributes { get; set; } = null!;

    [Parameter]
    public string? Content { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> ComponentClicked { get; set; }

    private async Task MouseClick(MouseEventArgs e)
    {
        Logger.LogInformation($"The {Content} button onclick event triggered");
        await ComponentClicked.InvokeAsync(e);
    }
}