<button style="--btn-width:@Attributes.Width;
               --btn-height:@Attributes.Height;
               --btn-fontSize:@Attributes.FontSize;
               --btn-foreground:@Attributes.ForegroundColor;
               --btn-background:@Attributes.BackgroundColor;"
        @onclick="MouseClick">
    @Attributes.Content
</button>

@code {
    [Parameter]
    public ButtonStyle Attributes { get; set; } = null!;

    [Parameter]
    public EventCallback ComponentClicked { get; set; }

    private async Task MouseClick(MouseEventArgs e)
    {
        await ComponentClicked.InvokeAsync();
    }
}