@page "/buttons"
@using DynamicCssBtn
@inject ILogger<ButtonCollection> Logger

Dynamic CSS Button Collection on Blazor WebAssembly:
<br />
<br />
<div>
    <Button CssAttributes="@ListOfButtonStyle[0]" Content="OK" ComponentClicked="BtnClick"></Button>
    <Button CssAttributes="@ListOfButtonStyle[1]" Content="Submit" ComponentClicked="BtnClick"></Button>
    <Button CssAttributes="@ListOfButtonStyle[2]" Content="Cancel" ComponentClicked="BtnClick"></Button>
    <Button CssAttributes="@ListOfButtonStyle[3]" Content="Click Me" ComponentClicked="BtnClick"></Button>
</div>


@code {
    public List<ButtonStyle> ListOfButtonStyle { get; set; } = null!;

    protected override void OnInitialized()
    {
        ListOfButtonStyle = new List<ButtonStyle>
        {
            new ButtonStyle()
            {
                FontSize = "12px",
                Height = "20px",
                Width = "50px",
                BackgroundColor="#4CAF50",
                ForegroundColor="#FFFFFF"
            },
            new ButtonStyle()
            {
                FontSize = "15px",
                Height = "25px",
                Width = "100px",
                BackgroundColor="#008CBA",
                ForegroundColor="#FFFFFF"
            },
            new ButtonStyle()
            {
                FontSize = "18px",
                Height = "30px",
                Width = "150px",
                BackgroundColor="#f44336",
                ForegroundColor="#FFFFFF"
            },
            new ButtonStyle()
            {
                FontSize = "21px",
                Height = "35px",
                Width = "200px",
                BackgroundColor="#555555",
                ForegroundColor="#FFFFFF"
            }
        };
    }

    private void BtnClick(MouseEventArgs obj)
    {
        // do Event handler job here
        Logger.LogInformation("Button clicked");
    }

}